/* CSS reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* CSS reset */

/* Variables */
:root {
    --mainColor: #19A7CE;
    --secondaryColor: #19376D;
    --backgroundColor: #2C3333;
    --borderRadius: 10px
}

/* Variables */

/* Utility classes */
.container {
    margin: 1rem 0.5rem 1rem 0.5rem;
    padding: 0.5rem;
}

.flex {
    display: flex;
}

/* Utility classes */


/* Stick footer on bottom */
.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--backgroundColor);
}

footer {
    margin-top: auto;
    background-color: black;
    color: whitesmoke;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
}

/* Stick footer on bottom */

/* Others */
header {
    background-color: var(--mainColor);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    height: 3em;
}

.auth {
    position: absolute;
    right: 1rem;
}

.auth-form {
    background-color: var(--mainColor);
    border-radius: var(--borderRadius);
}

.auth-form h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

label {
    display: block;
}

input {
    width: 100%;
    height: 2rem;
    margin: 1rem 0rem 1rem 0rem;
    padding: 5px;
    border-style: none;
    border-radius: 5px;
}

.alert {
    background-color: #E74646;
    padding: 10px;
    margin-bottom: 2rem;
    border-radius: var(--borderRadius);
    color: black;
    font-weight: bold;
}

a:link,
a:visited {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}


/* Media Querries */
@media only screen and (min-width: 600px) {
    .container {
        margin: 2rem;
        padding: 2rem;
    }
}

/* Media Querries */